

<div class="card p-3 createcard">
  <form (submit)="onAddEntry(entryForm)" #entryForm="ngForm" class="mat-form">
    <div fxLayout="row" fxLayoutAlign="center center" class="mb-3" style="width: 100%; display: flex;">
      <button   mat-flat-button [class.buttonpressed]="!typeOfcreatedEntry" (click)="onButton1Click()" class="ausgabebutton custombutton "  style="flex-basis: 50%;">Ausgabe</button>
      <button  mat-flat-button [class.buttonpressed]="typeOfcreatedEntry" (click)="onButton2Click()"  class="einnahmebutton custombutton"   style="flex-basis: 50%;">Eingabe</button>
    </div>






    <div class="form-grid">



      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" ngModel required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Preis</mat-label>
        <input matInput name="preis" ngModel required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Datum</mat-label>
        <input matInput  name="datum"   [(ngModel)]="pickedDate" [matDatepicker]="picker">

        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Kategorie</mat-label>
        <mat-select name="category" ngModel>
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" class="submitbtn" type="submit">Save Battle</button>
  </form>

</div>



<!--<div class="card p-3">
  <h2>The Battle Create Component</h2>
  <form (submit)="onAddEntry(entryForm)" #entryForm="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Titel</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Titel"
        ngModel
        required
      />
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Preis</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="preis"
        ngModel
        required
      ></textarea>
    </div>

    <div class="form-group">
      <div class="input-group mb-3">
        <select
          class="custom-select"
          id="inputGroupSelect01"
          name="category"
          ngModel
        >
          <option *ngFor="let category of categories"  [value]="category.id" >
            {{ category["name"] }}
          </option>
        </select>
      </div>
    </div>

    <button class="btn btn-primary mt-3 w-100" type="submit">
      Save Battle
    </button>
  </form>
</div>-->
