
<div class="row">
<div class="col-4 ">
  <div class="card h-100">
    <div class="card-body">
      <h6 class="card-subtitle mb-2">Active members</h6>

      <div class="row align-items-center gx-2">
        <div class="col">
          <span class="js-counter display-4 text-dark"> {{stat1| number:'1.2-2'}}</span>

        </div>

        <div class="col-auto">
          <span class="badge bg-soft-success text-success p-1">
            <i class="bi-graph-up"></i> 1.2%
          </span>
        </div>
      </div>
      <!-- End Row -->
    </div>
  </div>

</div>
<div class="col-4 ">
  <div class="card h-100">
    <div class="card-body">
      <h6 class="card-subtitle mb-2">Active members</h6>

      <div class="row align-items-center gx-2">
        <div class="col">
          <span class="js-counter display-4 text-dark"> {{stat1| number:'1.2-2'}}</span>

        </div>

        <div class="col-auto">
          <span class="badge bg-soft-success text-success p-1">
            <i class="bi-graph-up"></i> 1.2%
          </span>
        </div>
      </div>
      <!-- End Row -->
    </div>
  </div>

</div>
<div class="col-4 ">
  <div class="card h-100">
    <div class="card-body">
      <h6 class="card-subtitle mb-2">Active members</h6>

      <div class="row align-items-center gx-2">
        <div class="col">
          <span class="js-counter display-4 text-dark"> {{stat1| number:'1.2-2'}}</span>

        </div>

        <div class="col-auto">
          <span class="badge bg-soft-success text-success p-1">
            <i class="bi-graph-up"></i> 1.2%
          </span>
        </div>
      </div>
      <!-- End Row -->
    </div>
  </div>

</div>
</div>


