<p>yeardashboard works!</p>


<div class="container">
  <!-- REIHE 1 -->
  <div class="row headerbereich">
    <div class="col-8 my-auto">
      <h1 class="my-auto">
        <strong>Deine Finanzen im <span class="maincolor">   {{ selectedYear  }}</span></strong>
      </h1>
    </div>
    <div class="col-4">
      <app-year-filter-list
        (yearSelected)="onYearSelected($event)"
      ></app-year-filter-list>
    </div>
  </div>

<div class="row">
<div class="col-8">
  <app-normal-card [cardTitle]="'test'">
    <ng-container>

<dx-data-grid
  id="gridContainer"
  [dataSource]="entries"
  keyExpr="id"
  [showBorders]="true"
  class="p-2"
>

  <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>

  <dxi-column
    dataField="datum"
    dataType="date"
    format="dd.MM.yyyy"
    [width]="100"
    [calculateFilterExpression]="calculateFilterExpression"
  >
    <dxo-header-filter [dataSource]="orderHeaderFilter"></dxo-header-filter>
  </dxi-column>
  <dxi-column
    dataField="revenue"
    caption="Typ"
    alignment="left"
    [width]="100"
    [customizeText]="priceColumn_customizeText"
  ></dxi-column>


  <dxi-column dataField="categoryName" caption="Kategorie">
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
  </dxi-column>
  <dxi-column dataField="contractName" caption="Vertrag">
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
  </dxi-column>
  <dxi-column dataField="name"></dxi-column>
  <dxi-column
  dataField="preis"
  format="currency"
  [editorOptions]="{ format: 'currency', showClearButton: true }"
>
  <dxo-header-filter
    [dataSource]="saleAmountHeaderFilter"
  ></dxo-header-filter>
</dxi-column>

<!------------------------------>
<dxo-summary>

  <dxi-total-item
    column="preis"
    summaryType="sum"
    valueFormat="currency"
  >
  </dxi-total-item>
</dxo-summary>
<!------------------------------>
<dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-paging [pageSize]="25"> </dxo-paging>
  <dxo-pager
    [visible]="true"
    [allowedPageSizes]="allowedPageSizes"
    [displayMode]="displayMode"
    [showPageSizeSelector]="showPageSizeSelector"
    [showInfo]="showInfo"
    [showNavigationButtons]="showNavButtons"
  >
  </dxo-pager>

</dx-data-grid>
    </ng-container>
  </app-normal-card>
</div>


</div>
